* {
    background-color: rgb(168, 198, 255);
}

@font-face {
    font-family: digital-7;
    src: url('./cool font/digital-7.ttf');
}

@font-face {
    font-family: digital-7-italic;
    src: url('./cool font/digital-7 (italic).ttf');
}

#literally-nothing {
    display: flex;
    flex: 1;
}

#wrapper {
    display: flex;
    align-items: center;
    height: 500px;
}

#links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-self: flex-start;
    font-family: digital-7;
    flex: 1;
    font-size: 24px;
}

#links ul {
    list-style: none;
    padding: 0;
    text-decoration: none;
}

#calculator-wrapper {
    display: flex;
    justify-self: center;
    height: 415px;
    border: 2px solid rgb(216, 216, 216);
    border-radius: 10px;
    background: black;
    padding: 8px;
    box-shadow: 3px 3px 2px rgb(61, 61, 61);
}

#calculator-wrapper div,
#calculator-wrapper button {
    background: black;
    color: white;
}

#calculator {
    display: flex;
    width: 342px;
    height: 100%;
    flex-direction: column;
    border-right: none;
}

#header {
    display: flex;
    flex: 1;
    font-size: 36px;
    font-weight: bold;
    font-family: digital-7;
}

#history-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-left: 1px solid rgb(101, 110, 102);
}

#history-wrapper p {
    background: black;
    margin: 8px 0 0 0;
    font-family: digital-7;
    margin-bottom: 8px;
}

#history {
    display: flex;
    flex-direction: column;
    width: 133px;
    height: 100%;
    font-size: 24px;
    text-align: center;
}

#history-header {
    font-size: 24px;
    margin-bottom: 8px;
}

.history-div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 30px;
    margin-bottom: 32px;
}

.ghost {
    color: darkgray;
    font-size: 16px;
}

#calculator #display {
    display: flex;
    flex-direction: column;
    background: rgb(90, 168, 0);
    color: black;
    font-family: digital-7italic;
    width: 335px;
    height: 60px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

#display p {
    margin: 0px;
    background: rgb(90, 168, 0);
    border-radius: 10px;
    margin-right: 8px;
}

#ghost-text {
    justify-self: flex-start;
    align-self: flex-end;
    color: rgb(49, 49, 49)
}

#display-text {
    font-size: 36px;
}


#buttons {
    display: grid;
    justify-self: flex-end;
    align-self: flex-start;
    gap: 15px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(5, 1fr);
    margin-top: 20px;
    margin-bottom: 10px;
}

#buttons button {
    width: 55px;
    height: 35px;
    font-size: 24px;
}

button #decimal .disabled {
    background: rgb(56, 56, 56);
    color: black;
    border: 1px solid black;
}

